#Build {
	width:125px;
	height:60px;
}
#Reset {
	width:125px;
	height:60px;
}

#FirstElem {
	width:250px;
	height:20px;
}

#SecondElem {
	width:250px;
	height:20px;
}

#NumberElem {
	width:250px;
	height:20px;
}

#Time {
	width:250px;
	height:20px;
}


#div1 {
	width:150px;
	height:30px;
}

#div2 {
	width:150px;
	height:30px;
}

#div3 {
	width:150px;
	height:30px;
}

#text1 {
	width:500px;
	height:500px;
}
